body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #212529;
  line-height: 1.5;
  font-size: 18px;
  background: #fff;
}
h1, h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  margin: 2rem;
  text-align: center;
}
h2 { font-size: 2rem; }
h3 {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}
header.navbar {
    height: 64px;
    width: calc(100% - 52px);
    margin: 0;
    padding: 0 26px;
    background: #212529;
    z-index: 15;
}
header.navbar > div {
    display: flex;
    align-items: center;
}
header.navbar div.logo {
    height: 64px;
    padding: 0;
    margin: 0 13px 0 0;
    display: flex;
    align-items: center;
    color:
    #e9ecef;
}
header.navbar div.logo svg {
  width: 42px;
}
header.navbar div.emblem {
    margin-right: 26px;
    padding: 13px 0;
}
header.navbar div.emblem a {
    text-decoration: none !important;
    font-family: Roboto Condensed,sans-serif;
    font-size: 26px;
}
header.navbar div.emblem a span.emb { color: #74c0fc; }
header.navbar div.emblem a span.lem { color: #e9ecef; }
div.wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
div.test {
  max-width: 350px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem 2rem;
  margin: 1rem;
  background: #fafafa;
}
div.test svg {
  box-shadow: 1px 1px 4px #0004;
  background: #fff;
}
div.test p {
  text-align: center;
  font-size: 14px;
}

